asgiref==3.8.1
async-timeout==5.0.1
click==8.2.0
Django==5.2.1
django-admin-autocomplete-filter==0.7.1
django-autoslug==1.9.9
django-cities-light==3.10.1
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-rq==3.0.1
djangorestframework==3.16.0
Faker==37.3.0
Markdown==3.8
pillow==11.2.1
progressbar2==4.5.0
psycopg==3.2.9
python-dotenv==1.1.0
python-utils==3.9.1
pytz==2025.2
redis==6.1.0
rq==2.3.3
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
Unidecode==1.4.0
